*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    align-items: flex-end;
    height:10vh;
    .col-div{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    .profile{
        .line-container{
            position: relative;
            .line{
                position: absolute;
                width:1px;
                height:12vh;
                top:-2.1em;
                border-left: 1px solid #cecece;
            }
        }
        display: flex;
        width:100%;
        margin-bottom:-.5em;
        &__div--pic{
            display: flex;
            justify-content: flex-end;
            &__img,&__img-hamburger{
                border-radius: 50%;
                height:46px;
                width:45px;
            }
        }
        &__div--items{
            display:flex;
            align-items: center;
            justify-content: flex-end;   
            &__container,&__container-hamburger{
                background: #EF4C00;
                padding:5px 10px 5px 10px;
                border-radius: 26px;
                color:white;
                justify-content: center;
                &__svg{
                    height:38px;
                    padding:10px;
                }
            }
            &__container-hamburger{
                display:flex;
                align-items: center;
            }
        }
    }
}
.header__div--title{
    color:#EF4C00;
    text-align:left;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    font-size: 28px;
    &__h1{
        position: relative;
        bottom: -0.3em;
    }
}
.header__div--links{
    
    .hamburger{
        display: none;
    }
    .links{
        width:100%;
        .row{
            display: flex !important;
            justify-content: flex-end;
            .col{
                text-align: center;
            }
        }
    }
    &__span{
        margin:0;
        a{
            text-decoration: none;
            color:#2E4765;
        }
        a:hover{
            z-index: 10;
            color:#2E4765;
            border-bottom: .5em solid #EF4C00;
            padding-bottom:1.2em;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
.quote{
    height:20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    &__h3{
        font-size:23px;
        color: #EF4C00;
        text-transform: uppercase;
        letter-spacing: 0;
        margin-bottom: -6em;
        font-weight:bold;
    }
    &__h1{
        font-size: 35px;
        color:#2E4765;
        &--quote-mark{
            font-size:70px;
            margin:25px;
            
        }
        &--quote-mark:nth-child(4){
            position: relative;
            margin-bottom: -1em;
        }
    }
}

.text-container{
    display:flex;
    flex-direction: column;
    margin: 0 15px;
}

.menu-links{
    display: flex;
    justify-content: center;
    border:1px solid rgba(226, 226, 226, 0.452);
    padding:5px;
    margin-top:-1em;
    hr{
        background: rgba(82, 82, 82, 0.452);
    }
    a{
        text-decoration: none;
        color:#2E4765;
    }
    a:hover{
        z-index: 10;
        color:#2E4765;
        border-bottom: .2em solid #EF4C00;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    section{
        width:80vw;
    }
    .row{
        margin:auto;
        padding:.3em;
    }
}

.image{
    margin:3em;
    position: relative;
    &__img{
        object-fit: cover;
        border-radius: 23px;
        width:100%;
        height:50vh;
    }
    &__h1{
        font-size:4.5vh;
        position: absolute;
        color: #FFFFFF;
        line-height: 1.6;
        width:25%;
        height:100%;
        top:1.5em;
        left:1.5em;

    }
    &__div--logos{
        position: absolute;
        bottom:3em;
        left:3em;
        color:white;
        display: flex;
        gap:1rem;
        .row > * {
            height:50px;
        }
        .row{
            gap:1rem;
        }
        .apple-logo, .playstore-logo{
            width:180px;
            height:100%;
            display:flex;
            align-items: center;
            padding:5px;
            line-height: 1;
            &__small--1{
                font-size:1.7vh;
            }
            &__small--2{
                font-size:2.3vh;
            }
            &__img{
                max-width: 60%;
                max-height: 60%;
                border-radius: 50px;
            }
        }
        .apple-logo{
            background-color: #B30733;
            
        }
        .playstore-logo{
            background-color: #FF0043;
        }
    }
}

.search{
    margin:3em 0;
    .popular-text-container{
        position:relative;
        .popular-text{
            position: absolute;
            color:#B30733;
            font-size:23px;
            font-weight:bold;
            margin-top:-1.5em;
            background: white;
            padding: 0 1em 0 0;
        }
    }
    .our-meals{
        align-items: center;
        display: flex;
        font-size:23px;
        font-weight:400;
        color:#B30733;
        text-transform: uppercase;
    }
    &__div--search-form-container{
        margin: 0 0 2em;
        display: flex;
        align-items: center;
    }
    &__form{
        display:flex;
        height:50px;
        .input--text{
            border-radius:26px 0 0 26px;
            background-color: #F4F9FF;
            border:none;
            padding:10px;
            text-indent: 15px;
        }
        .input--text:focus{
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;   
            background-color: #F4F9FF;
        }
        .submit{
            width:5vh;
            background-color: #F4F9FF !important;
            border: none !important;
            padding:10px;
            border-radius: 0 26px 26px 0 ;
        }
    }
    .filter{
        height: 50px;
        background: #EF4C00;
        padding:10px;
        border-radius: 50%;
        color:white;
    }
    &__section{
        &--categories{
            margin: 1em 0 4em 0;
            &__ul{
                display: flex;
                gap:1rem;
                padding: 0;
                flex-wrap: wrap;
                justify-content: flex-start;
                a{
                    text-decoration: none;
                    color:black;
                }
                a:hover{
                    text-decoration: none;
                    color:black;
                }
                li:nth-child(1){
                    background-color: #EF4C00;
                    color:white;
                }
                li{
                    background-color: #F4F9FF;
                    border-radius: 23px;
                    text-decoration: none;
                    list-style-type: none;
                    padding:5px 20px 5px 20px;
                }
            }
        }
        &--popular-items-container,&--items-container{
            .row{
                gap:1rem;
                margin: 0 .1rem;
            }
        }
        &--items-container{
            &__article{
                
                &--item{
                    height: 100%;
                    display:flex;
                    flex-direction: column;
                    border:1px solid #2E476533;
                    border-radius: 23px;
                    padding: 0 !important;;
                    .item-image-container{
                        position: relative;
                        i{
                            padding:10px;
                            color:white;
                            background: #FF0043;
                            position: absolute;
                            bottom:1em;
                            left:1em;
                            border-radius: 23px;
                        }
                    }
                    img{
                        border-radius: 23px 23px 0 0;
                        width:100%;
                        height:20vh;
                        object-fit: cover;
                    }
                    &__text > *{
                        padding:5px;
                    }
                    &__text{
                        padding:1em;
                        span{
                            color:#B30733;
                            font-size:17px;
                            letter-spacing: 0px;
                        }
                        .item-name{
                            display:flex;
                            justify-content: space-between;
                            svg{
                                color:#FF0043;
                            }
                        }
                        .review{
                            display: flex;
                            align-items: center;
                            gap:1rem;
                            svg{
                                color:#EF4C00;
                            }
                            .text-review{
                                display: flex;
                                text-align: center;
                                span{
                                    color:#2E4765;
                                    font-size:13px;
                                }
                            }
                        }
                        .footer{
                            display:flex;
                            justify-content: space-between;
                            .category{
                                display:flex;
                                gap:1rem;
                                span{
                                    border-radius: 23px;
                                    padding:.5em 2em;
                                    font-size:11px;
                                    color:#2E4765;
                                    background: #2E47650D;
                                }
                            }
                            .time{
                                font-size:13px;
                                span{
                                    color:#2E4765;
                                    font-size:13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width:1400px){
    .header{
        justify-content: space-between;
    }
    .col-div:nth-child(2){
        justify-content: flex-end;
    }
    .links{
        display:none;
    }
    .col-div:nth-child(3){
        display: none;
    }
    .hamburger{
        display: flex !important;
        gap:1rem;
        position:relative;
        
    }
    .header__div--links__span, .profile__div--pic__img,.profile__div--items__container{
        display:none;
    }
    .image{
        &__h1{
            width:50%;
        }
    }
}
@media screen and(max-width:528px) {
    .image{
        width:100%;
        margin:3em 0 3em 0;
        padding:0;
        display:flex;
        justify-content: center;
        &__h1{
            width:80%;
        }
        &__img{
            width:100vw;
            border-radius: 0;
        }
    }
    .quote{
        &__h3{
            position:absolute;
        }
        &__h1--quote{
            &-mark,&-text{
                margin:0;
                margin-bottom: 0 !important;
            }
        }
    }
}
